.container {
  width: 100%;
  height: 100%;
  padding-top: 2rem;
}

.glass {
  width: 100%;
  height: 100%;
  background: rgba(127, 114, 114, 0.1);
  border-radius: 16px;
  // filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  padding: 2rem;
  z-index: 0;
}

.rectangle {
  width: 250px;
  height: 120%;
  background: rgba(127, 114, 114, 0.1);
  // filter: blur(5px);
  position: absolute;
  top: -7%;
  left: 45%;
  transform: rotate(-15deg);
  z-index: -1;
}

.circle {
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 1%;
  z-index: -1;
}

.blur {
  width: 150px;
  height: 150px;
  background: var(--primary);
  filter: blur(4rem);
  // -webkit-backdrop-filter: blur(20px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: -1;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: flex;
  align-items: center;
  gap: 2rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  background: #fff;
  // color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.link :last-child {
  background-color: var(--primary);
  padding: 1rem;
  border-radius: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 5rem;
  padding-top: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  gap: 2rem;

  h1 {
    font-size: 6rem;
    font-weight: 700;

    span {
      font-size: 6rem;
      font-weight: 700;
      color: var(--primary);
    }
  }

  p {
    font-size: 1.5rem;
  }

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
}

.image {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    border-radius: 5%;
  }

  .discription {
    width: 50rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: end;
    position: absolute;
    padding: 2rem;
    bottom: 12%;
    right: 2%;
    background: rgba(127, 114, 114, 0.1);
    backdrop-filter: blur(1rem);
    color: #fff;
    border-radius: 5%;
    gap: 1rem;

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
    }
    p {
      font-size: 1.8rem;
      font-weight: 400;
    }

    .button {
      display: flex;
      justify-content: center;
      background: var(--primary);
      color: #fff;
      align-self: flex-end;
      padding: 2rem;
      border-radius: 3rem;
      border: none;
      font-size: 1.5rem;
      gap: 2rem;
    }

    .button :nth-child(1) {
      background-color: #fff;
      border-radius: 50%;
    }
  }
}
